@model IEnumerable<PruebaTecnica.Core.Catalogos.Catalogo>

@{
    ViewBag.Title = "ListarCatalogo";
}

<h2>Listado de catálogos</h2>

<p>
    @Html.ActionLink("Crear nuevo catálogo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCatalogo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCatalogo)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.CatalogoId }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.CatalogoId })

            </td>
        </tr>
    }

</table>
